APP_ENV=local
APP_DEBUG=true
APP_KEY=QbMMGMgU4h8aXEbcmXyHDAyNQrdeBjsX

DB_HOST=localhost
DB_DATABASE=alantra5
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=localhost
MAIL_PORT=25
MAIL_USERNAME=null
MAIL_PASSWORD=null
